<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cryptex</title>
    <link rel="stylesheet" href="home.css">
    <link rel="shortcut icon" href="images/favicon.svg" type="image/svg+xml">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@300;400;800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=PT+Serif:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #eaeef2;
}


.header{
    background:linear-gradient(to right, #05161a,#0f434f);
    height: 80px;
    
}
.logo{
    margin-right: 5%;
}

nav{
    display: flex;
    padding: 1% 1%;
    justify-content: space-between;
    align-items: center;
    background: rgba(0,0,0,0.2);  
}

.nav-links{
    
    text-align: center;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height:2px;
    background: #0c7073;
    display: block;
    margin: auto;
    transition: 0.2s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.primary2{
    transition: all .5s ease;
    color: #fff;
    font-family: 'Kanit', sans-serif;
    font-family: 'PT Serif', serif;
    text-transform: uppercase;
    line-height: 1;
    font-size: 15px;
    background-color : transparent;
    padding: 5px;
    outline: none;
    text-decoration: none;
    border: 1px solid ;
    border-radius: 4PX;       
}
.primary2:hover {
    color: #001F3F;
    background-color: #fff;
}
.primary{
    transition: all .5s ease;
    color: #fff;
    font-family: 'Kanit', sans-serif;
    font-family: 'PT Serif', serif;
    text-transform: uppercase;
    line-height: 1;
    font-size: 15px;
    background-color : transparent;
    padding: 10px;
    outline: none;
    text-decoration: none;
    border: 1px solid ;
    border-radius: 4rem;       
}
.primary:hover {
    color: #001F3F;
    background-color: #fff;
}
.login-register{
    display: flex;
    flex-direction: row;
}
.login-register ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.login-register ul li a{
    
    text-decoration: none;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
}
/*.Register{
    text-decoration: none;
    border: 1px solid ;
    border-radius: 10px; 
    padding: 10px;
    background-color: #4191a3;
    color: #05161a;
    outline: none;
    cursor: pointer;
}

/*HOME*/
.HOME{
    background-image: url(images/bg.jpg);
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    display: flex;
    
}
.info{
    display: flex;
    flex-direction: column;
    align-items: last baseline;
    justify-content: center;
    
}

.info h1{
    font-size: 40px;
    color: #ffffff;
    padding: 10px;
    
}
.info p{
    font-size: 15px;
    color: #ffffff; 
    padding: 12px;
    width: 500px;
}



/*Trending Coins*/
.market{
    background-color: #001F3F;
    
   
}
.tab-content{
    display: flex;
    justify-content: space-between;
}
.card-analytics{
    color: white;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.trending{
    color: #3bb6d4;
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
    margin-top: 1px;
    text-align: center;
}

.trending-coins {
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 20px;
}


.logo{
    display: flex;
    flex-direction: row;
    margin: 0px 0px 0px;
    padding: 0px 0px 0px;
}
.coin {
    background-color: #fff;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    
}

.coin:hover {
    background-color: #9becee;
    transform: scale(1.05);
}


/*Footer*/
.footer{
    width: 100%;
    position: relative;
    background: linear-gradient(to right, #05161a, #0f434f);
    color: #fff;
    padding: 0;
    min-height: 300px;
    font-size: 13px;
    line-height: 20px;
}
.logo1{
    width: 150px;
    
}
.container{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
 #information{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
 }
.col{
    min-width: 250px;
    color: #0c7073;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.col h4{
    color: #ffffff;
    padding-top: 20px;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
    font-family: 'PT Serif', serif;
    letter-spacing: 1.5px;
}
.col h4::after{
    content: '';
    width: 0px;
    height:2px;
    background: #0c7073;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.2s;
}
.col h4:hover::after{
    width: 50px;
}
.col .linked a{
    display: block;
    text-decoration: none;
    color: #c8fdff;
    margin-bottom: 5px;
    
    position: relative;
    transition: 0.3s ease;
}
.col .linked a::before{
    content: '';
    height: 16px;
    width: 3px;
    position: absolute;
    top: 5px;
    left: -10px;
    background-color: #1d92d1;
    transition: 0.5s ease;
    opacity: 0;
}
.col .linked a:hover::before{
    opacity: 1;
}
.col .linked a:hover{
    transform: translateX(-8px);
    color: #3bb6d4;
}


.container p{
    color: #3bb6d4;
    width: 90%;
    text-align: center;
}



/*Latest news*/
.latest-news {
    background-color:#001F3F;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    color: rgb(244, 244, 244);
    color: whitesmoke;
}
.latest-news h1 {
    color: floralwhite;
    padding-top: 20px;
    text-decoration: none;

}
.latest-news h1::after{
    content: '';
    width: 0%;
    height:2px;
    background: #0c7073;
    display: block;
    margin: auto;
    transition: 0.2s;
}
.latest-news h1:hover::after{
    width: 20%;
}
.latest-news h2{
    font-family: 'Poppins', sans-serif;
    color: floralwhite;
    font-size: 15px;
    padding: 10px;
    
}
.news{
    display: flex;
    justify-content: space-between;
}
.news p{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    padding: 30px;
    color:  #6ecde2;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
}
.latest-news p{
    color:floralwhite;
    padding: 10px;
}





/*cryptoprices*/
.table_header{
    background-color: #aeebed;
    font-family: 'Kanit', sans-serif;
    line-height: 1.5;
}
td img{
    width: 36px;
    height: 36px;
    margin-right: .5rem;
    border-radius: 50%;
    vertical-align: middle;
}
table,th,td{
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

.table_header{
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: .8rem 1rem;
}
.table_body{
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;
    margin:.8rem auto;
    border-radius: .6rem;
    overflow: auto;
}
.table_body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5em;
}
.table_body::-webkit-scrollbar-thumb{
    border-radius: 0.5rem;
    background-color: #0004;
    visibility: hidden;
}
.table_body:hover:-webkit-scrollbar-thumb{
    visibility: visible;
}
table{
    width: 100%;
}
thead th{
    position: sticky;
    top: 0;
    left: 0;
    background-color: #73bcce;
}
tbody tr:nth-child(even){
    background-color: #0000000b;
}
tbody tr:hover{
    background-color: #fff5;
}
@media(max-width:1000px){
    td:not(:first-of-type){
        min-width: 12.1rem;
    }
}






/*info*/
.info{
    background-image: url(/stylesheet/bg.png);
    min-height: 50vh;
    width: 100%;
    background-size:cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.infom{   
    color: #05161a;
}

/*login-signup page*/


#show-login{
    transition: all .5s ease;
    padding: 10px 20px;
    font-size: 15px;
    font-weight:600 ;
    color: #222;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}
#show-login:hover{
    color: #05161a;
    background-color: #0c7073;
}

.popup {
  position: fixed;
  max-width: 320px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  z-index: 101;
  background: #ffffff;
  padding: 25px;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: rgba(7, 7, 7, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease-out;
}
.popup.active {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.registration {
  display: none;
}
.form_container.active .registration{
  display: block;
}
.form_container.active .loginpage{
  display: none;
}
.close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}
.popup.show-signup .popup.signup{
  opacity: 1;
  pointer-events: auto;
}
.popup.show-signup .popup.login{
  opacity: 0;
  pointer-events: none;
}

/*inner container*/
h1{
    font-size: 22px;
  font-weight: 600;
  color: #333;
  font-family: 'Poppins', sans-serif;
}
p{
    font-size: 15px;
  font-weight: 200;
  color: #333;
  font-family: 'Mukta', sans-serif;
  
}

p {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  form .field {
    margin-bottom: 20px;
  }
  form .input-field {
    position: relative;
    height: 40px;
    width: 100%;
  }
  .input-field input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 0 15px;
    border: 1px solid #fff6f6;
  }
  .fa-solid {
    color: #96140b;
  }
  .input-field .fa-regular  {
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #919191;
    cursor: pointer;
    padding: 3px;
  }
  .field .error {
    display: flex;
    align-items: center;
    margin-top: 6px;
    color: #d93025;
    font-size: 13px;
    display: none;
  }
  .invalid .error {
    display: flex;
  }
  .error .fa-solid {
    margin-right: 6px;
    font-size: 15px;
  }
  .create-password .error {
    align-items: flex-start;
  }
  .create-password .fa-solid {
    margin-top: 4px;
  }

.button {
    font-size: 1.3rem;
    text-transform: capitalize;
    letter-spacing: 1.5px;
    padding: 6px 1.2px;
}
.button input {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  background-color: #093b55;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input:hover {
  background-color: #a1d8f5;
}

.button input:active {
  transform: scale(0.95);
}


.login-signup{
    margin-top: 10px;
    margin-bottom: 20px;
  text-align: center;
 
  
}
.error-text{
    font-size: 12px;
}





.popup a {
  color: #7d2ae8;
  font-size: 18px;
}
.popup a:hover {
  text-decoration: underline;
}




.button input:active {
  transform: scale(0.95);
}


    </style>
  </head>

<body>

    <!--Header-->
    <section class="header">
        <nav>
            <a href="" class="logo"><img src="/stylesheet/xd.png" width="" height="70" alt="cryptex logo"></a>
        
        <div class="nav-links" id="navlinks">
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="http://localhost:8090/">PRICES</a></li>
                <li><a href="http://localhost:7000/">NEWS</a></li>
                <li><a href="http://localhost:8080">LOGOUT</a></li>
                <a href="#" class="userlogo"><img src="user.png" width="" height="30" alt=""></a>
           </ul>
           
        </div>
        </nav>
    </section>



    <!--Home page-->
    <section class="HOME">
      
        <div class="info">
            <h1>Best Coin Price Tracker in the Market</h1>
            <p >Gain a competitive edge tracking your holdings over time with customizable charts and watchlists, instant price alerts, and frictionless multi-exchange trading all in one place.</p>
        </div>
        
    </section>




    <!--Trending Coins-->
    
    <section class="market"> 
      <div class="trending">
        Trending Coins
      </div>
      <div class="trending-coins">
        <div class="coin">
          <img src="/stylesheet/coin-1.svg" width="24" height="24" alt="bitcoin logo">
          <div class="name">Bitcoin</div>
          <div class="value">$ <span id="bitcoin"></span></div>
          <div class="1">36,641.20</div>
          <div class="2">-0.79%</div>
        </div>

        <div class="coin">
          <div class="logo"><img src="/stylesheet/coin-2.svg" width="24" height="24" alt="bitcoin logo">Ethereum</div>
          <div class="value">$ <span id="ethereum"></span></div>
          <div class="1">36,641.20</div>
          <div class="2">-0.79%</div>
        </div>

        <div class="coin">
          <div class="logo"><img src="/stylesheet/coin-3.svg" width="24" height="24" alt="bitcoin logo">Tether
              
          </div>
          <div class="value">$ <span id="tether"></span></div>
          <div class="1">36,641.20</div>
          <div class="2">-0.79%</div>
        </div>

        <div class="coin">
          <div class="logo"><img src="/stylesheet/coin-5.svg" width="24" height="24" alt="bitcoin logo">Solana</div>
          <div class="value">$ <span id="solana"></span></div>
          <div class="1">36,641.20</div>
          <div class="2">-0.79%</div>
        </div>
        
      </div>     
    </section>



    <!--cryptocurrency prices-->  
    <section class="table_header">
      <h1>Cryptocurrency Prices</h1>
      <p>The global cryptocurrency market cap today is $1.08 Trillion</p>
    </section>
    <section class="table_body">
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th>Logo</th>
            <th>Coin</th>
            <th>Price</th>
            <th>24H</th>
            <th>Market Cap</th>
          </tr>
        </thead id="crypto">
          <tbody id="crypto-table"> </tbody>
      
      </table>
    </section>
 
    
    <!--latest news-->
    <section class="NEWS">
      <div class="latest-news">
        <a href="http://localhost:7000/"><h1>Latest News</h1></a>
        <h2>Find articles for anything related to the cryptocurrencies world. Get the latest news, opinions, and insights.</h2>
        <div class="news">
          <a href="" class="news1"><img src="/stylesheet/crypto1.png" width="" height="100">
          <div>
            <p>Bitcoin Cools Off at $34K, But '5th Bull Market' Has Further to Run, Says Analyst</p>
          </div>
          </a>
          <a href="" class="news2"><img src="/stylesheet/crypto4.png" width="" height="100">
          <div>
            <p>Arbitrum Foundation Says 'Orbit' for Layer-3 Networks Now Ready for Mainnet</p>        
          </div>
          </a>
          <a href="" class="news4"><img src="/stylesheet/crypto2.png" width="" height="100">
            <div>
              <p>FTX Moves Millions Worth of LINK, MATIC, AGLD to Coinbase as Sam Bankman-Fried Testifies</p>
            </div>
          </a>
          

        </div>
        
      </div>

    </section>

      <!--Why use cryptex?-->
  <section class="cryp">
    <div class="infom">
      <h2 class="hello">A Seamless Way To Track Cryptocurrency</h2>
      
      <p class="hello">Working with cryptocurrencies will be easy, fast and secure.</p>
      <br>
      <p class="hello">Cryptex is the perfect starting point for beginners interested in cryptocurrency. 
        It provides a user-friendly experience with real-time price data, latest-news, and a supportive community. 
        Whether you want to track Bitcoin, Ethereum, or any other cryptocurrency, Cryptex is the easiest way to get started. 
        Start your crypto journey today with Cryptex!</p></div>
    
  </section>
    

   <!--Footer-->
        <div class="footer">
      <div class="container">
            <div class="row">
              <div class="col" id="information">
                <img src="/stylesheet/xd.png" class="logo1">
                <p>Cryptex provides a fundamental analysis of the crypto market. In addition to tracking price, volume and market capitalisation, Cryptex tracks community growth, major events and on-chain metrics.</p>
    
              </div>
          <div class="col" id="Services">
            <h4>Services</h4>
            <div class="linked">
              <a href="#">Coins</a>
              <a href="#">Overview</a>
              <a href="#">Trending</a>
              <a href="#">API</a>
              <a href="#">Compare</a>
          </div>
          </div>
          <div class="col" id="Links">
            <h4>Links</h4>
            <div class="linked">
              <a href="http://localhost:8080">Home</a>
              <a href="http://localhost:8090">Prices</a>
              <a href="#">Watchlist</a>
              <a href="http://localhost:7000/">News</a>
            </div>
          </div>
          <div class="col" id="Contact Us">
            <h4>Contact Us</h4>
            <div class="contact-details">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <p>cryptex@gmail.com</p>
             
              <i class="fa fa-phone" aria-hidden="true"></i>
              <p>+91-595318359</p>
            </div>
            
          </div>
        </div>
       
      </div>
    </div>

   
    <script>
            var btc = document.getElementById("bitcoin");
            var eth = document.getElementById("ethereum");
            var usdt = document.getElementById("tether");
            var bnb = document.getElementById("solana");

            var liveprice = {
                "async": true,
                "croosDomain": true,
                "url": "https://api.coingecko.com/api/v3/simple/price?ids=bitcoin%2Cethereum%2Ctether%2Csolana&vs_currencies=usd",

                "method": "GET",
                "headers": {}
            }

            $.ajax(liveprice).done(function (response){
                btc.innerHTML = response.bitcoin.usd;
                eth.innerHTML = response.ethereum.usd;
                usdt.innerHTML = response.tether.usd;
                solana.innerHTML = response.solana.usd;

            });
    </script>
    
    <script>
      const apiUrl = 'https://api.coingecko.com/api/v3/coins/markets?vs_currency=inr&order=market_cap_desc&per_page=5&page=1';

function displayTop5CryptoData() {
    fetch(apiUrl)
        .then(response => response.json())
        .then(data => {
            const cryptoTable = document.getElementById('crypto-table');

            data.forEach(crypto => {
                const row = document.createElement('tr');
                row.innerHTML = `
                    <td>${crypto.market_cap_rank}</td>
                    <td><img src="${crypto.image}" alt="${crypto.name}" /></td>
                    <td>${crypto.name}</td>
                    <td>${crypto.current_price} INR</td>
                    <td>${crypto.price_change_percentage_24h}%</td>
                    <td>${crypto.market_cap} INR</td>
                `;
                cryptoTable.appendChild(row);
            });
        })
        .catch(error => {
            console.error('Error fetching cryptocurrency data:', error);
        });
}

// Call the function to display data for the top 5 cryptocurrencies.
displayTop5CryptoData();


    </script>
    <script src="script.js"></script>
</body>
</html>
